{{#if this.hasPeople}}
  <ol ...attributes>
    {{#each this.mappedPeople as |person index|}}
      {{yield person index}}
    {{/each}}
  </ol>
{{else}}
  no people
{{/if}}

{{#if @addPerson}}
  <form onSubmit={{action this.createPerson this.newName}}>
    <input onKeyUp={{action (mut this.newName) value="target.value"}} value={{this.newName}}>
    <input type="submit" value="add">
  </form>
{{/if}}