{{#if this.hasPeople}}
  <ol ...attributes>
    {{#each this.capitalizedPeople as |person|}}
      {{yield person}}
    {{/each}}
  </ol>
{{else}}
  no people
{{/if}}

<form onSubmit={{action this.createPerson this.newName}}>
  <input onKeyUp={{action (mut this.newName) value="target.value"}} value={{this.newName}}>
  <input type="submit" value="add">
</form>